body{
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    font-size: medium;
    background: #000 url(bg01.png) repeat;
  }
a, a:visited { 
    color: #268; 
    text-decoration: none;
    outline: 0; 
  }
a:hover, a:focus { color: #abc; }
 #container {
    background-color: #fff;
    border-radius: 3px;
    margin: 10px auto;
    width: 1100px;
    height: 100%;
    font-size: small; 
  }
b{  color: #abc;  }
  .post_body{
    background-color: #fff;
    border: 1px solid #abc;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
  }
.navg a{
    letter-spacing: 1px;
    text-decoration: none;
    padding: 5px;
    border-left: 1px solid #abc;
    font-weight: bold;
    color: #FFFFFF;
  }
#footer{
   position: relative;
   background-color: #def; 
   height: 25px;
   color: #789;
   padding: 10px;
  }
.time{
   padding: 2px;
   background-color: #def; 
   color: #005;
  }
.comment{
   background-color: #cde;
   border: 1px solid;
   color: #000;
   padding: 10px;
   border-radius: 5px;
 }
.errorlist{
   color: #faf;
 }
.helptext{
   color: #aaa;
 }
#sidebar li {
   width: 180px;
   color: #181;
   vertical-align: middle;  
 }
#content{
   padding: 20px;
   width: 65%;
 }
#sidebar{
   background: #fff;
   border-left: 1px solid #abc;
   font-family: helvetica, arial;
   margin: auto; 
   padding: 2px;
   position: relative;
   height: 50%;
   width: 28%;
   float: right;
   top: 10px;
 }
#menu{
   background-color: #000;
   color: #fff;
   padding: 2px;
   border-radius: 3px 3px;
 }
