{% extends "base.html" %} 

{% block title %} {{ post.title }} {% endblock %}
{% block header %}
  <b><a href= "/">Home</a></b>
  <a href='/add_post'>Add post</a>
{% endblock %}
{% block content %}
  <div class="title"><h2> {{ post.title }} </h2></div>
  <div class="time">{{ post.pub_date }}</div>
  <ul><div class="post_body">
    {{ post.body|linebreaks }}
  </div></ul>
  <b>Comments:</b><br>
  {% if comments %}
    {% for comment in comments %}
      <div class="comment">
      <div class="time">{{ comment.created }} | {{ comment.author }}</div>
      <div class="body">{{ comment.body|linebreaks }}</div>
      </div><br>
    {% endfor %} 
  {% else %}
    No comments yet.
  {% endif %} 
  <div id="add_cmnt"><h3>Post a comment</h3><br>
    <form action="{% url 'blogapp.views.add_comment' post.id %}" method="POST">
      {{ form.as_p }}
      <input type="submit" value="Post comment">
    </form>
  </div>
{% endblock %}
{% block sidebar %} {% endblock %}
